<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Carky.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDC62FDE1E0B07CB002FF506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC62FF71E0B07CC002FF506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC630021E0B07CC002FF506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
